body {
    margin:50px 0; 
    padding:0;
    text-align:center;
}

.table {
    max-width: 300px;
}

.center {
    margin: 0 auto;
    max-width: 20%;
}

.btn-primary, .btn-warning {
    cursor: pointer;
}